$classic-base-color: #341;
$classic-primary-color: #cda;
$classic-secondary-color: #563;
$classic-highlight-color: #694;

$ui-base-color: $classic-base-color;
$ui-primary-color: $classic-primary-color;
$ui-secondary-color: $classic-secondary-color;
$ui-highlight-color: $classic-highlight-color;
$primary-text-color: #cda;
