.status__content__text,
.e-content
{
  p.signature {
    color: lighten($dark-text-color, 20%);
    font-style: italic;
    font-size: 12px;
    text-align: right;
  }
  details.tags {
    color: lighten($dark-text-color, 20%);
    font-size: 12px;
    text-align: right;

    a {
      color: darken($secondary-text-color, 20%);
    }
  }
}

.composer--reply > .content {
  p.signature {
    color: $dark-text-color;
  }
  details.tags {
    color: $dark-text-color;

    a {
      color: darken($secondary-text-color, 50%);
    }
  }
}

div.media-caption {
  p {
    font-size: 12px !important;
    margin-bottom: 0;
    text-align: center;
  }

  a {
    background-color: lighten($ui-base-color, 7%);
    color: darken($secondary-text-color, 10%);
    text-decoration: none;
    padding: 2px;
    border-radius: 8px;

    &:hover {
      text-decoration: underline;
      color: lighten($dark-text-color, 10%);
    }

    &.mention {
      &:hover {
        text-decoration: none;

        span {
          text-decoration: underline;
        }
      }
    }

    .fa {
      color: $dark-text-color;
    }
  }
}

div.drawer__inner__admin {
  margin-left: 10px;

  h2 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: circle;
    margin-left: 20px;

    li {
      margin-bottom: 4px;
    }
  }

  a {
    color: darken($secondary-text-color, 15%);
    text-decoration: none;
    padding: 0;
    border-radius: 8px;

    &:hover {
      text-decoration: underline;
      color: lighten($dark-text-color, 10%);
    }
  }
}
