.status__content__text,
.e-content
{
  p.signature {
    color: lighten($dark-text-color, 20%);
    font-style: italic;
    font-size: 12px;
    text-align: right;
  }
}

div.media-caption {
  p {
    font-size: 12px !important;
    margin-bottom: 0;
    text-align: center;
  }

  a {
    background-color: lighten($ui-base-color, 7%);
    color: darken($secondary-text-color, 10%);
    text-decoration: none;
    padding: 2px;
    border-radius: 8px;

    &:hover {
      text-decoration: underline;
      color: lighten($dark-text-color, 10%);
    }

    &.mention {
      &:hover {
        text-decoration: none;

        span {
          text-decoration: underline;
        }
      }
    }

    .fa {
      color: $dark-text-color;
    }
  }
}
