// components.scss

/* One Column */
:root {  //  Overrides .wide stylings for mobile view
  @media screen and (min-width: 1000px) {
    .columns-area {
      width: 100%;
      margin: -60px auto auto;
    }

    .drawer { min-width: 400px }

    .tabs-bar {
      display: flex;
      width: 585px;
      margin: 10px 0 0 calc(50% - 95px);
      z-index: 1;
    }

    .tabs-bar > a:nth-child(5),
    .drawer--header > a:nth-child(1),
    .drawer--header > a:nth-child(2) {
      display: none;
    }

    .tabs-bar > a {
      text-align: left;
    }

    .tabs-bar > a > span {
      display: inline;
    }

    .column {
      display: none;
    }

    .column:last-child {
      display: flex;
      min-width: 600px;
      max-width: 600px;
      margin-left: calc(50% - 500px);
      margin-top: 58px;
    }

    .search__input,
    .autosuggest-textarea__textarea {
      font-size: 16px;
    }

  }
}
