*:root {
	// Main body
	body,
	body.app-body {
		background: black url(https://monsterpit.net/extras/pit.png) no-repeat center center fixed !important;
		background-size: cover;
		font-size: 14px;
	}

	// Small-caps links
	a[href], h1, h2, h3, h4,
	.column-header,
	.column-back-button {
		text-decoration: none;
		font-variant: small-caps;
	}

	// TL status prefix: hide boost/fav action text
	.notification__message span,
	.status__prepend span,
	.activity-stream .pre-header { font-size: 12px; }

	// TL status: font size of user's friendly name
	.notification__message span a,
	.status__prepend span a,
	.activity-stream .pre-header__icon,
	.account__display-name strong,
	.status__display-name strong,
	.detailed-status__display-name strong,
	.account-grid-card .username,
	.name .username {
		font-size: 16px;
		font-weight: bold;
	}

	// TL status: move timestamp to bottom-right
	.status__relative-time {
		font-size: 10px;
	}

	// TL status: color of user address; push down post content
	.account__header__username,
	.accounts-grid .account-grid-card .username,
	.activity-stream .status.light .display-name span,
	.detailed-status__display-name,
	.name .username,
	.name small,
	.status__display-name,
	.display-name__account {
		font-size: 12px;
		font-weight: bold;
	}

  .signature {
    font-size: 12px;
    font-weight: bold;
		font-variant: small-caps;
  }

	// TL status: color of users' friendly names; on own line
	.account-grid-card .name a,
	.account__display-name strong,
	.detailed-status__display-name strong,
	.reply-indicator__display-name,
	.status__display-name strong,
	.account__header__display-name,
	.card__bio .name {
		font-weight: bold;
    color: lighten($ui-primary-color, 15%);
	}

	// TL status prefix: color of users' friendly names
	.status__prepend .status__display-name,
	.notification__display-name,
	.status__display-name.muted,
	.status__display-name.muted strong, { font-size: 14px; }

	// All status: message text
	.reply-indicator__content,
	.status__content,
	.account-grid-card .note {
		font-size: 14px;
		line-height: inherit;
	}

  // staff tools
  div.drawer__inner__admin ul li a { color: $lighter-text-color }
  div.drawer__inner__admin ul li a:hover { color: $white }
}
