$classic-base-color: #302;
$classic-primary-color: #604;
$classic-secondary-color: #906;
$classic-highlight-color: #c08;

$base-shadow-color: $black;
$base-overlay-background: $black;
$base-border-color: $white;

$simple-background-color: #c69;
$valid-value-color: $success-green;
$error-value-color: $error-red;

$ui-base-color: $classic-base-color;                  // Darkest
$ui-base-lighter-color: lighten($ui-base-color, 26%); // Lighter darkest
$ui-primary-color: $classic-primary-color;            // Lighter
$ui-secondary-color: $classic-secondary-color;        // Lightest
$ui-highlight-color: $classic-highlight-color;

$primary-text-color: $white;
$darker-text-color: $ui-primary-color;
$dark-text-color: $ui-base-lighter-color;
$secondary-text-color: $ui-secondary-color;
$highlight-text-color: $ui-highlight-color;
$action-button-color: $ui-base-lighter-color;

$inverted-text-color: #e9a;
$lighter-text-color: $ui-base-lighter-color;
$light-text-color: $ui-primary-color;
