$classic-base-color: #160011;
$classic-primary-color: #fff;
$classic-secondary-color: #906;
$classic-highlight-color: #c08;

$ui-base-color: $classic-base-color;
$ui-primary-color: $classic-primary-color;
$ui-secondary-color: $classic-secondary-color;
$ui-highlight-color: $classic-highlight-color;
$primary-text-color: #FFF;
