$classic-base-color: #001611;
$classic-primary-color: #fff;
$classic-secondary-color: #096;
$classic-highlight-color: #0c8;

$ui-base-color: $classic-base-color;
$ui-primary-color: $classic-primary-color;
$ui-secondary-color: $classic-secondary-color;
$ui-highlight-color: $classic-highlight-color;
$primary-text-color: #fff;
