$classic-base-color: #956;
$classic-primary-color: #302;
$classic-secondary-color: #624;
$classic-highlight-color: #845;

$primary-text-color: #fac;

$ui-base-color: $classic-base-color;
$ui-primary-color: $classic-primary-color;
$ui-secondary-color: $classic-secondary-color;
$ui-highlight-color: $classic-highlight-color;

$simple-background-color: #000;

$error-column: #fac;

$profile_header_text: #956;
$instance_info_text: #dac;
$instance_info_header_text: #946;
$horiz_rule: #623;

$body_bg: #312;
$sidebar_bg: #623;
$sidebar_popup_bg: #301;
$sidebar_popup_text: white;

$search_bg: #412;
$search_text: white;

/* #956 */
$status_bg: #634;
$status_actions_bg: #967;

$cw_bg: #623;
$cw_text: #956;
